
/* Add some general text style */
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;  
}

/*  Navigation bar styles */
nav {
  background-color: rgb(79, 138, 207);
  width: 100%;
  height: 60px;
  color: #ffffff;
  position: absolute;
  display: inline-block;
}

.logo {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: bolder;
  font-size: 1.6rem;
}

.nav-items {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    position: absolute;
    right: 20px;
    top: 20px;   
}
.nav-items li {
  width: fit-content;
  margin: 0 10px;
}

.nav-items li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
}

/* Hero section styles - center of the page */
.hero {
   width: 100%; 
   height: 500px;
   background-image: linear-gradient(to right, rgb(22, 177, 212) , rgb(123, 245, 253));
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
   
.hero h1, p {
    color: #ffffff;
}

.hero h1 {
    font-size: 1.9rem;
    font-weight: bolder;
}

.hero p {
    margin-top: 15px;
}

/* Button styles */

.items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 300px;
}

#special-badge {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    border-radius: 4px;
    background-color: rgb(253, 140, 115);
    color: #ffffff;
    position: relative;
    margin: 0;
}

div.item {
    display: inline-block;;
    bottom: 10px;
    width: 140px;
    height: 150px;
    margin: 20px;
    border-radius: 6px;
    background-color: lightblue;
}