

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;   
}

nav {
  background-color: rgb(79, 138, 207);
  width: 100%;
  height: 60px;
  color: #ffffff;
  position: absolute;
  display: inline-block;
}

.logo {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: bolder;
  font-size: 1.6rem;
}

.nav-items {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    
}

.nav-items li {
  width: fit-content;
  margin: 0 10px;
}

.nav-items li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
}



