
/* Add some general text style */
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;  
}

/*  Navigation bar styles */
nav {
  background-color: rgb(79, 138, 207);
  width: 100%;
  height: 60px;
  color: #ffffff;
  position: absolute;
  display: inline-block;
}

.logo {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: bolder;
  font-size: 1.6rem;
}

.nav-items {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    position: absolute;
    right: 20px;
    top: 20px;   
}
.nav-items li {
  width: fit-content;
  margin: 0 10px;
}

.nav-items li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
}

/* Hero section styles - center of the page */
.hero {
   width: 100%; 
   height: 500px;
   background-image: linear-gradient(to right, rgb(22, 177, 212) , rgb(123, 245, 253));
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
   
.hero h1, p {
    color: #ffffff;
}

.hero h1 {
    font-size: 1.9rem;
    font-weight: bolder;
}

.hero p {
    margin-top: 15px;
}

/* Button items styles */

.items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 180px;
}

#special-badge {
    max-width: 86px;
    min-width: 30px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    border-radius: 4px;
    background-color: rgb(255, 127, 107);
    color: #ffffff;
    position: relative;
    top: -8px;
    left: 40px;
}

div.item {
    display: inline-block;;
    bottom: 10px;
    width: 200px;
    height: 80px;
    margin-top: 20px;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: lightblue;
    min-width: 80px;
}

.item p {
    display: block;
   text-align: center;
    margin: 30px auto;
    color: black;

}

#special-bage-text {
    position: relative;
    margin: 0 auto;
    top: auto;
}

/* Footer styles */

.footer {
    width: 100%;
    height: 60px;
    background-color: rgb(11, 46, 128);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}}