
.logo {
  top: 30px;
  left: 30px;
}

html {
    position: relative;
    display: inline-block;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

nav {
  background-color: rgb(69, 139, 219);
  width: 100%;
}
