

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;   
}

nav {
  background-color: rgb(79, 138, 207);
  width: 100%;
  height: 60px;
  color: #ffffff;
  display: flex;
}

.logo {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: bolder;
  font-size: 1.6rem;
}

ul .nav-items {
    position: absolute;
    align-items: flex-end;
}

a .navbar {
  color: #ffffff;
}


