

html {
    position: relative;
    display: inline-block;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;   
}

nav {
  background-color: rgb(79, 138, 207);
  width: 100%;
  height: 60px;
}

.navbar {
  display: flex;
}

.logo {
  margin-top: 30px;
  margin-left: 30px;
}
